<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.TestPlugin"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19"/>
    <application
        android:name="com.example.TestPlugin.App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.TestPlugin.MyActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name="com.morgoo.droidplugin.stub.ContentProviderStub$StubP01"
            android:authorities="${applicationId}_P01"
            tools:replace="android:authorities"/>
        <provider
            android:name="com.morgoo.droidplugin.stub.ContentProviderStub$StubP02"
            android:authorities="${applicationId}_P02"
            tools:replace="android:authorities"/>
        <provider
            android:name="com.morgoo.droidplugin.stub.ContentProviderStub$StubP03"
            android:authorities="${applicationId}_P03"
            tools:replace="android:authorities"/>
        <provider
            android:name="com.morgoo.droidplugin.stub.ContentProviderStub$StubP04"
            android:authorities="${applicationId}_P04"
            tools:replace="android:authorities"/>
        <provider
            android:name="com.morgoo.droidplugin.stub.ContentProviderStub$StubP05"
            android:authorities="${applicationId}_P05"
            tools:replace="android:authorities"/>
        <provider
            android:name="com.morgoo.droidplugin.stub.ContentProviderStub$StubP06"
            android:authorities="${applicationId}_P06"
            tools:replace="android:authorities"/>
        <provider
            android:name="com.morgoo.droidplugin.stub.ContentProviderStub$StubP07"
            android:authorities="${applicationId}_P07"
            tools:replace="android:authorities"/>
        <provider
            android:name="com.morgoo.droidplugin.stub.ContentProviderStub$StubP08"
            android:authorities="${applicationId}_P08"
            tools:replace="android:authorities"/>
    </application>
</manifest>
